<div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal fade" data-keyboard="false" data-backdrop="static">
	<div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-dialog approvemodal">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-content">	
			<div class="modal-header" style="padding-bottom:0px !important;">
                <button type="button" class="close" ng-click="aprv.close('Cancel')" aria-hidden="true">&times;</button>                
            </div>				
			 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-body">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 containerfull">
					<div style="margin-top:22px !important;" class="col-xs-6 col-sm-6 col-md-3 col-lg-3 inner-container">
						<input type="radio" id="revappr" name="revappr" ng-change="aprv.approved()" ng-model="aprv.revappr" class="containerhght" ng-value="aprv.revappr1">
    						<label for="revappr">Approved</label>
    						<div class="check">
							</div>	
							
					</div>
					<div style="margin-top:22px !important;" class="col-xs-6 col-sm-6 col-md-3 col-lg-3 inner-container">	
						<input type="radio" id="revnotappr" name="revappr" ng-change="aprv.rejected()" ng-model="aprv.revnotappr" class="containerhght" ng-value="aprv.revnotappr1">
    						<label for="revnotappr">Rejected</label>
    						<div class="check">
							</div>	
					</div>
					<div class="txt-sec col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-if="aprv.revnotappr">	
						
						<textarea  id="comments" type="text" autocomplete="off" ng-model="aprv.comments" auditplace max-len="{{aprv.AppConstant.REJECT_COMMENT_MAX_LEN}}" class="txt-input col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-class="{'changed':aprv.comments}"></textarea>
    					<label for="comments">Comments</label>	    							
					</div>	
					
					
					
					
				</div>	
						
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-footer">	
				<div class="col-xs-offset-10 col-xs-2 col-sm-offset-10 col-sm-2 col-md-offset-10 col-md-2 col-lg-offset-10 col-lg-2">
					<button type="button" class="btn btnclass fix-but-width" ng-click="aprv.saveApproveReject()">Ok</button>
				</div>	 	  
            </div>
		</div>
	</div>
</div>