<div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal fade" data-keyboard="false" data-backdrop="static">
	<div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-dialog">
		<div class="col-xs-8 col-sm-8 col-md-12 col-lg-12 modal-content modal-content1">					
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-body">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-lg-12 containerfull " >
					<span>{{attachFinding}}</span>
				</div>				
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-footer">
			 	<div class="col-xs-offset-4 col-xs-4 col-sm-12 col-md-12 col-lg-offset-8 col-lg-2">
					<button type="button" class="btn btnclass fix-but-width" data-dismiss="modal" ng-click="close('YES')" aria-hidden="true">Yes</button> 
                </div>     
              	 <div class="col-xs-4 col-sm-12 col-md-12 col-lg-2">
					<button type="button" class="btn btnclass fix-but-width" data-dismiss="modal" ng-click="close('NO')" aria-hidden="true">No</button>         
              	 </div>    
            </div>
			</div>
	</div>
	
</div>