<div class="modal fade ismprev" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog iFrameParentId">
		<div class="modal-content iFrameModalContent">
			<div class="modal-header" style="padding-bottom:0px !important;">
                <button type="button" class="close" ng-click="fPrv.close('Cancel')" aria-hidden="true" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Preview</h4>
            </div>
			<div class="modal-body iFrameModalBody" id="modalBodyIframe"iframe-auto-size>
			   <iframe  ng-src="{{fPrv.content}}" iframe-auto-size></iframe> 
			  <!-- <embed   ng-src="{{content}}" ></embed > -->
			</div>
			<!-- <div class="modal-footer footer">
              	<button type="button" ng-click="close('Yes')" class="btn btn-primary btnclass" data-dismiss="modal">Close</button>
			</div> -->	
		</div>
	</div>
</div>