<div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal fade random" data-keyboard="false" data-backdrop="static">
	<div style="width: 300px; margin: 15vh 40vw;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-dialog">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-content">
			<div class="modal-header" style="padding-bottom:0px; padding-left:0px;">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>  
                 <h4 class="modal-title">Forget {{em.pass}}</h4>              
            </div>
			
		<div ng-if="em.verfy" class="modal-body tdpad">	
			<div ng-if="em.showErrMsg" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alert-err row">
                                <button class="close" ng-click="em.alert();"></button>
                                <span>{{em.alerterrMsg}}</span>
             </div>
             <div ng-if="em.showSuccessMsg" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alert-err row success">
                                <button class="close" ng-click="em.alert();"></button>
                                <span>{{em.alertsuccMsg}}</span>
             </div>
			
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txt-sec">
			
				 <input  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txt-input" name="oldpas"
					ng-model="em.ranNumber" id="randomNum" type="text"  ng-class="{'changed':em.ranNumber}"/> 
				 <label for="randomNum">Verification Code </label>
				 	
			</div></br>
		<div><i> Please Enter the verification code which you have received in your Email Id </i></div>
		
			
		
		      </div> 
		      
		      
		      <div ng-if="em.result" class="modal-body tdpad">	
			<div ng-if="em.showErrMsg" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alert-err row">
                                <button class="close" ng-click="em.alert();"></button>
                                <span>{{em.alerterrMsg}}</span>
             </div>
             <div ng-if="em.showSuccessMsg" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alert-err row success">
                                <button class="close" ng-click="em.alert();"></button>
                                <span>{{em.alertsuccMsg}}</span>
             </div>
			
		
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txt-sec">
	
			  <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txt-input" name="newPas" 
					ng-model="em.newPas" id="newPas" type="{{em.pass}}"  ng-class="{'changed':em.newPas}"  /> 
					 <i id="passStatus" class="fa fa-eye-slash eye-position" aria-hidden="true" ng-click="em.showPassword()"></i>
			  <label for="newPas">New {{em.pass}}</label>
			
		</div>
			
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txt-sec">
				<input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txt-input" name="confNewPas"
				ng-model="em.confNewPas" id="confNewPas" type="{{em.pass}}" ng-class="{'changed':em.confNewPas}" /> 
				 <i id="passStatus1" class="fa fa-eye-slash eye-position" aria-hidden="true" ng-click="em.showConfirmPassword()"></i>
				<label for="confNewPas">Confirm New {{em.pass}}</label>
			
		</div>	
			
	
		      </div> 
			 <div ng-if="em.result" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-footer">
			 	 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-2 col-lg-10">
					<button type="button" class="btn btn-primary btnclass fix-but-width" ng-click="em.reset()"  aria-hidden="true">Reset</button>         
              	 </div>  
     		 </div>
		      
		      
		      
			 <div ng-if="em.verfy" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-footer">
			 	 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-0 col-lg-6">
					<button type="button" class="btn btn-primary btnclass fix-but-width" ng-click="em.verify()"  aria-hidden="true">Verify</button>         
              	 </div>  
              	 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-0 col-lg-6">
					<button type="button" class="btn btn-primary btnclass fix-but-width" ng-click="em.resend()"  aria-hidden="true">Resend</button>         
              	 </div>  
     		 </div>
     		  
     		 </div>
			</div>
	</div>
</div>