<div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal fade" data-keyboard="false" data-backdrop="static">
	<div style="width: 500px; margin: 20vh 31vw;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-dialog">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-content">
			<div class="modal-header" style="padding-bottom:0px; padding-left:0px;">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>  
                 <h4 class="modal-title">{{reason.content}}</h4>              
            </div>
			
		<div class="modal-body tdpad">	
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 containerfull">	
		 
		 
	  <div ng-if="reason.void == true" class="txt-sec col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    
                             <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txt-input" ng-model="reason.voiding" id="voiding" type="text" autocomplete="off" 
                            ng-options="type.rasonValue as type.rasonValue for type in reason.reasonDesc"
                              ng-class="{'changed':reason.voiding}" ng-change="validate()"></select>
                             <label for="voiding">Reason for Void</label>
                        
         </div>
         <div ng-if="reason.void == true " class="txt-sec col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    
                             <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txt-input" ng-model="reason.comment" id="comment" type="text" autocomplete="off" 
                              ng-class="{'changed':reason.comment}" />
                             <label for="comment">Comments</label>
                        
         </div>  
        <div ng-if="reason.halt == true"  class="txt-sec col-xs-12 col-sm-12 col-md-6 col-lg-6">
				
                            <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txt-input datePicker changed" datepicker readonly
                                ng-model="reason.haltDate" id="haltdate" type="text"  placeholder="DD-MMM-YYYY" min-date="reason.minDueDate"
                                
                                ng-disabled="reason.duedatecaptred"
                               autocomplete="off" />
                            <label for="haltdate">Due Date</label>
                            
                    </div>
         
		 <div ng-if="reason.Reopen == true" class="txt-sec col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    
                             <select class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txt-input" ng-model="reason.Reopening" id="Reopen" type="text" autocomplete="off" 
                            ng-options="type.rasonValue as type.rasonValue for type in reason.reasonReopenDesc"
                              ng-class="{'changed':reason.Reopening}"></select>
                             <label for="Reopen">Reason for Reopen</label>
                        
         </div>
         
          <div ng-if="reason.Reopen == true" class="txt-sec col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    
                             <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txt-input" ng-model="reason.comment" id="comment" type="text" autocomplete="off" 
                              ng-class="{'changed':reason.comment}" />
                             <label for="comment1">Comments</label>
                        
         </div> 
         
          
      <!--     <div ng-if="reason.void == true && reason.auditTypeId==reason.AppConstant.IHM_TYPE_ID"  >
		 		<label>Please Select the Certificate to be active or Inactive</label></br>
		 		<label><input type="radio" ng-model="reason.certificate" value="Active" ng-change="reason.setCertificateStatus('Active')" 
		 		   ng-init="certificateGenrated()">Active</label>
		 		<label><input type="radio" ng-model="reason.certificate" value="InActive" ng-change="reason.setCertificateStatus('InActive')">InActive</label>
		 </div> -->
		
		</div>
		
		 <div ng-if= "reason.partialMissingStatus == true">
		 <div style="margin-top:70px;"> 
	 		 <input  type="radio"  name="leadVal" ng-value="1" class="partialDataShow" ng-model="reason.partialTick" ng-disabled="true">
			 <lable for="partialDataShow"><span style="margin: 15px;">{{reason.partialDataShow}}<span>VESDOC Department.</span></span></lable>
		 </div>
		</div>
		
	 </div> 
			 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-footer">
			 	 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-9 col-lg-3">
					<button type="button"  class="btn btn-primary btnclass fix-but-width" ng-click="reason.save()" aria-hidden="true" ng-disabled="reason.duedatecaptred">OK</button>         
              	 </div>  
     		 </div>
			</div>
	</div>
</div>