<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal fade reportHistory" style="padding-right:15px !important;" data-keyboard="false" data-backdrop="static">
<form name="certHisForm">
	<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-dialog">
		<div class=" col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-content">
			<div class="modal-header">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
               		
            </div>
			<div class="modal-body">
				
				
		<div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 tdpad">

		<div class="portlet light bordered col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
			<div class="portlet-title col-xs-12 col-sm-12 col-md-12 col-lg-12 accordion-toggle1" data-toggle="collapse" data-target="#reportHissection">
				<div class="caption font-blue-sharp col-lg-3">
					<span>Lists of Report History </span>
				</div>
				
			</div>
			
		<div id="reportHissection" class="collapse in">
			<div style="max-height:74vh !important;overflow-y:auto !important;"  class="portlet-body col-xs-12 col-sm-12 col-md-12 col-lg-12 tdpad aud" >
			   <div class="table-responsive  tdmar">
			     
			    <table class="table table-bordered table-hover containerfull">
			     <thead>
			    <tr>
			   			<th class="center reportMinWidth">
			    			Sl No.
			    		</th>
			   			<th  class="center reportMinWidth">
			   				Report Type			    			
			    		</th>
			   			<th class="center reportMinWidth">
			    			Report No.
			    		</th>
			    		<th class="center reportMinWidth">
			    			Version
			    		</th>
			    		<th class="center reportMinWidth">
			    			Place
			    		</th>
			    		<th class="center reportMinWidth">
			    			Date
			    		</th>
			    		<th ng-if="(rptHist.auditTypeId != 1006)" class="center reportMinWidth">
			    			Lead {{rptHist.auditorType}} Name
			    		</th>
			    		<th ng-if="(rptHist.auditTypeId == 1006)" class="center reportMinWidth">
			    			{{rptHist.auditorType}} Name
			    		</th>
			    		<th class="center reportMinWidth">
			    			File Name
			    		</th>
			    </tr>
			    </thead>
			    <tbody>
			    	<tr ng-repeat="report in rptHist.reportHisList |orderBy:'VERSION_ID'">
			    		
			    		
			    		<td class="center">
			    			{{$index+1}}
			    		</td>
			    		<td class="center">
			    			{{report.FILE_NAME.indexOf('_Prelim') >= 0 ? 'Preliminary ' :''}}<span>{{rptHist.auditType }} Report</span> 
			    		</td>
			    		<!-- <td  ng-if="report.auditType=='Inspection' " class="center">
			    		{{report.FILE_NAME.indexOf('_Prelim') >= 0 ? 'Preliminary Inspection Report' : 'Inspection Report'}} 
			    		</td> -->
			    		<td class="center">
			    			{{rptHist.auditReportNo}}-{{$index+1}}
			    		</td>
			    		<td class="center">
			    			{{report.VERSION_TYPE}}
			    		</td>
			    		<td class="center">
			    			{{report.AUDIT_PLACE}}
			    		</td>
			    		<td class="center">
			    			{{report.AUDIT_DATE}}
			    		</td>
			    		<td class="center">
			    			{{report.LEAD_AUDITOR_NAME}}
			    		</td>
			    		<td class="center">
			    			<a href='javascript:;' ng-click='rptHist.reportDownload(report.VERSION_ID,rptHist.auditSeqNo,rptHist.companyId,report.FILE_NAME);'>{{report.FILE_NAME}}</a>
			    		</td>
			    		
			    	</tr>
			    </tbody>
			    </table>
			    </div>
			</div>
			
			</div>
			</div>
			
</div>				
			</div>
			
			

		</div>
	</div>
	</form>
</div>
<div class="hidden" ng-repeat="sign in rptHist.signatureonLoad">
                        <img  id="reportImage-{{$index}}" src='data:image/png;base64,{{sign.audSignature}}' width="500" height="300"/>
    				</div>

<img class="hidden" id="qrCodeImage"  ng-src="{{certHist.qrCodeData}}" alt="The Scream">