<div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal fade" data-keyboard="false" data-backdrop="static">
	<div style="width: 300px; margin: 15vh 40vw;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-dialog">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-content">
			<div class="modal-header" style="padding-bottom:0px; padding-left:0px;">
                <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>  
                 <h4 class="modal-title">Reset {{pas.pass}}</h4>              
            </div>
			
		<div class="modal-body tdpad">	
			
			<div style="margin:0px !important;" ng-if="pas.showErrMsg" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alert-err row">
                                <button class="close" ng-click="pas.alert();"></button>
                                <span>{{pas.alerterrMsg}}</span>
             </div>
              <div style="margin:0px !important;" ng-if="pas.showSuccessMsg" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alert-err row success">
                                <button class="close" ng-click="pas.alert();"></button>
                                <span>{{pas.alertsuccMsg}}</span>
             </div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txt-sec">
			
				 <input  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txt-input" name="oldpas"
					ng-model="pas.oldPas" id="oldpas" type="{{pas.pass}}"  ng-class="{'changed':pas.oldPas}"/> 
				 <label for="oldpas">Old {{pas.pass}}</label>
				 	
			</div>
		
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txt-sec">
	
			  <input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txt-input" name="newPas" 
					ng-model="pas.newPas" id="newPas" type="{{pas.pass}}" ng-blur="pas.valPass(pas.newPas)"  ng-class="{'changed':pas.newPas}" /> 
			  <label for="newPas">New {{pas.pass}}</label>
			
		</div>
			
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txt-sec">
				<input class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txt-input" name="confNewPas" 
				ng-model="pas.confNewPas" ng-blur="pas.valPass(pas.confNewPas)" id="confNewPas" type="{{pas.pass}}" ng-class="{'changed':pas.confNewPas}" /> 
				<label for="confNewPas">Confirm New {{pas.pass}}</label>
			
		</div>	
		      </div> 
			 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-footer">
			 	 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-offset-2 col-lg-10">
					<button type="button" class="btn btn-primary btnclass fix-but-width" ng-click="pas.reset()"  aria-hidden="true">Reset</button>         
              	 </div>  
     		 </div>
			</div>
	</div>
</div>