
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal fade"
	data-keyboard="false" data-backdrop="static">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-dialog">
		<div
			class="col-xs-8 col-sm-12 col-md-12 col-lg-12 modal-content modal-content1">
			<div class="modal-header" style="padding-bottom: 0px !important;">
				<button type="button" class="close" ng-click="close('Cancel')"
					aria-hidden="true">&times;</button>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-body">
				<div class="col-lg-12 containerfull ">
					<span>{{LatestVesselDetails.vesselRefreshMsg}}</span>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 modal-footer">
				<div
					class="col-xs-offset-4 col-xs-4 col-sm-12 col-md-12 col-lg-offset-6 col-lg-2">
					<button type="button" class="btn btnclass fix-but-width"
						ng-click="close('YES')"
						ng-if="LatestVesselDetails.fromPage == 'audit' ? true : false"
						aria-hidden="true">Yes</button>
				</div>
				<div class="col-xs-4 col-sm-12 col-md-12 col-lg-2">
					<button type="button" class="btn btnclass fix-but-width"
						ng-click="close('NO')"
						ng-if="LatestVesselDetails.fromPage == 'audit' ? true : false"
						aria-hidden="true">No</button>
				</div>
				<div class="col-xs-4 col-sm-12 col-md-12 col-lg-2">
					<button type="button" style="width: 80px !important;"
						class="btn btnclass fix-but-width view-more" ng-click=""
						data-toggle="collapse" data-target="#refreshVesselDetails"
						aria-expanded="false" aria-controls="refreshVesselDetails">

						View More</button>
				</div>
			</div>

			<div class="card collapse multi-collapse" id="refreshVesselDetails">
				<table class="table table-responsive table-bordered ">
					<thead>
						<tr class="refreshVesselTable">
							<th scope="col" class="refreshVesselTable">Vessel Details</th>
							<th scope="col" style="border: 2px solid black;">Old Value</th>
							<th scope="col" style="border: 2px solid black;">New Value</th>
						</tr>
					</thead>
					<tbody class="refreshVesselTable">
						<tr class="refreshVesselTable"
							ng-if="LatestVesselDetails.oldVMVesselName">
							<th scope="row" class="refreshVesselTable">Vessel Name</th>
							<td style="border: 2px solid black;">{{LatestVesselDetails.oldVMVesselName}}</td>
							<td style="border: 2px solid black;">{{LatestVesselDetails.newVMVesselName}}</td>
						</tr>
						<tr class="refreshVesselTable"
							ng-if="LatestVesselDetails.oldVMVesselType">
							<th scope="row" class="refreshVesselTable">Vessel Type</th>
							<td style="border: 2px solid black;">{{LatestVesselDetails.oldVMVesselType}}</td>
							<td style="border: 2px solid black;">{{LatestVesselDetails.newVMVesselType}}</td>
						</tr>
						<tr class="refreshVesselTable"
							ng-if="LatestVesselDetails.oldVMGRT">
							<th scope="row" class="refreshVesselTable">GRT(MT)</th>
							<td style="border: 2px solid black;">{{LatestVesselDetails.oldVMGRT}}</td>
							<td style="border: 2px solid black;">{{LatestVesselDetails.newVMGRT}}</td>
						</tr>
						<tr class="refreshVesselTable"
							ng-if="LatestVesselDetails.oldVMCompanyIMONo">
							<th scope="row" class="refreshVesselTable">Company IMO No.</th>
							<td style="border: 2px solid black;">{{LatestVesselDetails.oldVMCompanyIMONo}}</td>
							<td style="border: 2px solid black;">{{LatestVesselDetails.newVMCompanyIMONo}}</td>
						</tr>
						<tr class="refreshVesselTable"
							ng-if="LatestVesselDetails.oldVMPOR">
							<th scope="row" class="refreshVesselTable">Date of Registry</th>
							<td style="border: 2px solid black;">{{LatestVesselDetails.oldVMPOR}}</td>
							<td style="border: 2px solid black;">{{LatestVesselDetails.newVMPOR}}</td>
						</tr>
						<tr class="refreshVesselTable"
							ng-if="LatestVesselDetails.oldVMDOCIssuer">
							<th scope="row" class="refreshVesselTable">DOC Issuer</th>
							<td style="border: 2px solid black;">{{LatestVesselDetails.oldVMDOCIssuer}}</td>
							<td style="border: 2px solid black;">{{LatestVesselDetails.newVMDOCIssuer}}</td>
						</tr>
						<tr class="refreshVesselTable"
							ng-if="LatestVesselDetails.oldVMDOCExpiry">
							<th scope="row" class="refreshVesselTable">DOC Expiry</th>
							<td style="border: 2px solid black;">{{LatestVesselDetails.oldVMDOCExpiry}}</td>
							<td style="border: 2px solid black;">{{LatestVesselDetails.newVMDOCExpiry}}</td>
						</tr>
						<tr class="refreshVesselTable"
							ng-if="LatestVesselDetails.oldVMcompanyName">
							<th scope="row" class="refreshVesselTable">Name of Company</th>
							<td style="border: 2px solid black;">{{LatestVesselDetails.oldVMcompanyName}}</td>
							<td style="border: 2px solid black;">{{LatestVesselDetails.newVMcompanyName}}</td>
						</tr>
						<tr class="refreshVesselTable"
							ng-if="LatestVesselDetails.oldAddress">
							<th scope="row" class="refreshVesselTable">Address of
								Company</th>
							<td style="border: 2px solid black;">{{LatestVesselDetails.oldAddress}}</td>
							<td style="border: 2px solid black;">{{LatestVesselDetails.newAddress}}</td>
						</tr>
						<tr class="refreshVesselTable"
							ng-if="LatestVesselDetails.oldportOfRegistry">
							<th scope="row" class="refreshVesselTable">Port of Registry</th>
							<td style="border: 2px solid black;">{{LatestVesselDetails.oldportOfRegistry}}</td>
							<td style="border: 2px solid black;">{{LatestVesselDetails.newportOfRegistry}}</td>
						</tr>
						<tr class="refreshVesselTable"
							ng-if="LatestVesselDetails.oldkeelLaidDate">
							<th scope="row" class="refreshVesselTable">Keel Laid Date</th>
							<td style="border: 2px solid black;">{{LatestVesselDetails.oldkeelLaidDate}}</td>
							<td style="border: 2px solid black;">{{LatestVesselDetails.newkeelLaidDate}}</td>
						</tr>
						<tr class="refreshVesselTable"
							ng-if="LatestVesselDetails.oldregOwnedImoNo">
							<th scope="row" class="refreshVesselTable">Register Owner
								IMO Number</th>
							<td style="border: 2px solid black;">{{LatestVesselDetails.oldregOwnedImoNo}}</td>
							<td style="border: 2px solid black;">{{LatestVesselDetails.newregOwnedImoNo}}</td>
						</tr>
						<tr class="refreshVesselTable"
							ng-if="LatestVesselDetails.oldregisteredCompanyName">
							<th scope="row" class="refreshVesselTable">Register Company
								Name</th>
							<td style="border: 2px solid black;">{{LatestVesselDetails.oldregisteredCompanyName}}</td>
							<td style="border: 2px solid black;">{{LatestVesselDetails.newregisteredCompanyName}}</td>
						</tr>
						<tr class="refreshVesselTable"
							ng-if="LatestVesselDetails.oldregisteredCompanyAddress">
							<th scope="row" class="refreshVesselTable">Register Company
								Address</th>
							<td style="border: 2px solid black;">{{LatestVesselDetails.oldregisteredCompanyAddress}}</td>
							<td style="border: 2px solid black;">{{LatestVesselDetails.newregisteredCompanyAddress}}</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	</div>
</div>