<div ng-if="pfind.showSwitch" class="switch-container">
        <label class="switch" data-toggle="tooltip" data-original-title="{{pfind.lockMessage}}" tooltip data-placement="left">
              <input type="checkbox" ng-model="pfind.enabled" ng-disabled="(pfind.userRoleId != pfind.AppConstant.ADMIN_ROLE_ID && pfind.lockDisable) || pfind.auditCreate || pfind.userRoleId==pfind.AppConstant.OBSERVER_ROLE_ID" ng-change="pfind.changeCallback()"/>
              <span class="slider round">
                  <i class="fa fa-unlock-alt icon-unlock-position" ng-if="!pfind.enabled"></i>
                  <i class="icon-lock icon-lock-position" ng-if="pfind.enabled"></i>
              </span>
        </label>
</div>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 obs containerfull auditscroll scroll" >
    <form name="pfind.PreviousfindingsForm" autocomplete="off">
            <div class="portlet light bordered col-xs-12 col-sm-12 col-md-12 col-lg-12" style=" background-color: rgb(225, 225, 225) !important;">
                <div class="portlet-title col-xs-12 col-sm-12 col-md-12 col-lg-12 accordion-toggle1" data-toggle="collapse" data-target="#prevfindings">
                    <div class="caption font-blue-sharp col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <span class="caption-subject bold uppercase pull-left">PREVIOUS FINDINGS</span>
                        <div style="float:right !Important;" class="caption font-blue-sharp col-xs-8 col-sm-8 col-md-4 col-lg-4 containerfull">
                        
                        <div ng-if="pfind.majorCountDesc" class="col-xs-3 col-sm-4 col-md-4 col-lg-4 head-category">
                                
                             
                            <label class="findShadow" >{{pfind.majorCountDesc}} :</label>
                            <label class="findShadow" >{{pfind.countFindingCategoryPrev.majorCount}}</label>	
                        </div>
                    <div ng-if="pfind.minorCountDesc"  class="col-xs-6 col-sm-4 col-md-4 col-lg-4 head-category">
                                
                                    
                            <label class="findShadow" >{{pfind.minorCountDesc}} :</label>
                            <label class="findShadow" >{{pfind.countFindingCategoryPrev.minorCount}}</label>			
                    </div>
                   <!--  <div  ng-if="pfind.obsCountDesc" class="col-xs-3 col-sm-4 col-md-4 col-lg-4 head-category">
                         
                            <label class="findShadow" >{{pfind.obsCountDesc}} :</label>
                            <label class="findShadow" >{{pfind.countFindingCategoryPrev.obsCount}}</label>		
                                    
                    </div> -->
                        
                        
                
                    </div>
                            
                    </div>
                    
                    
                    <div  class="caption font-blue-sharp col-xs-12 col-sm-12 col-md-12 col-lg-12 containerfull">
                        
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 findinput-size prevhead-category">
                                
                             
                            <label >CATEGORY</label>
                                    
                        </div>
                    <div  class="col-xs-3 col-sm-3 col-md-3 col-lg-3 findinput-size prevhead-category">
                                
                                    
                            <label >{{pfind.auditType | uppercase}} DATE</label>
                                    
                    </div>
                    <div  class="col-xs-3 col-sm-3 col-md-3 col-lg-3 findinput-size prevhead-category">
                                
                                    
                            <label >{{pfind.auditauditType}} CODE</label>
                                    
                    </div>
                    <div  class="col-xs-3 col-sm-3 col-md-3 col-lg-3 prevhead-category elementcategoryhead">
                         
                            <label >{{pfind.auditauditType}} ELEMENT</label>
                                    
                    </div>
                        
                        
                
                    </div>
                    
                    
                </div>
            
        
        
        
        <div id="prevfindings"  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 containerfull">
      
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel-group containerfull " id="accordion" style="margin-bottom: 40px !Important;">
        <div  class="col-xs-12 col-sm-12 col-md-12 col-lg-12 containerfull panel panel-default find-right" ng-repeat="obseprev in pfind.observationarrayprevious">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel-heading  accordion-toggle1 collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapse-{{$index}}">
                   
                   
                   <div style="padding-top: 0px !Important;" class="txt-sec col-xs-3 col-sm-3 col-md-3 col-lg-3 findinput-size">
                                
                            <input class="txt-input col-xs-12 col-sm-12 col-md-12 col-lg-12"  placeholder="Category" disabled
                            ng-model="obseprev.serialNo" id="prevfinCat-{{$index}}" type="text" autocomplete="off"   ng-class="{'changed':obseprev.displayFinging}"/> 
            
                                    
                    </div>
                    
                    <div style="padding-top: 0px !Important;" class="txt-sec col-xs-3 col-sm-3 col-md-3 col-lg-3 findinput-size">
                                
                            <input class="txt-input col-xs-12 col-sm-12 col-md-12 col-lg-12" id="prevfinauddate-{{$index}}" placeholder="MMM-DD-YYYY" 
                            ng-class="{'changed':obseprev.auditDate}"  ng-model="obseprev.auditDate"  disabled	type="text" autocomplete="off"/> 
                            
                    </div>
                    <div style="padding-top: 0px !Important;" class="txt-sec col-xs-3 col-sm-3 col-md-3 col-lg-3 findinput-size">
                                
                            <input class="txt-input col-xs-12 col-sm-12 col-md-12 col-lg-12" id="prevfinIsmCode-{{$index}}" placeholder="{{pfind.auditauditType}} Code" 
                            ng-class="{'changed':obseprev.auditCode}"  ng-model="obseprev.auditCode"  disabled	type="text" autocomplete="off" data-toggle="tooltip" tooltip data-placement="bottom" data-original-title="{{obseprev.auditCode}}"/> 
                
                                    
                    </div>
                
                    <div style="padding-top: 0px !Important;" class="txt-sec col-xs-3 col-sm-3 col-md-3 col-lg-3 elementcategoryhead">
                                
                            <input class="txt-input col-xs-12 col-sm-12 col-md-12 col-lg-12"  id="prevfinIsmEle-{{$index}}" placeholder="{{pfind.auditauditType}} Element" 
                            data-toggle="tooltip" data-original-title="{{obseprev.auditElements}}" tooltip data-placement="bottom"
                            ng-class="{'changed':obseprev.auditElements}" ng-model="obseprev.auditElements" disabled
                            type="text" autocomplete="off" /> 
                    
                                    
                    </div>
                    
                       
          </div>
              
          <div id="collapse-{{$index}}" style="background-color: rgba(163, 164, 165, 0.41);" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 containerfull panel-collapse collapse">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 panel-body containerfull">
                <div ng-repeat="prevcatgs in obseprev.findingDetail">
                    
                    
						<div ng-show="!(prevcatgs.updateFlag) || prevcatgs.updateDescription" style='background-color: #a3a4a5;' class="col-xs-12 col-sm-12 col-md-12 col-lg-12 find-pad">
                			
                			<div ng-show="!(prevcatgs.updateFlag)" style='width: 20% !important;' class="col-xs-6 col-sm-4 col-md-2 col-lg-2 txt-sec">
					
                       		 <input type="text" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 txt-input port"
                       			 	data-toggle="tooltip" data-original-title="{{prevcatgs.auditPlace}}" tooltip data-placement="bottom"
                        			ng-model="prevcatgs.auditPlace" id="auditplace-{{$parent.$index}}-{{$index}}"
                        			uib-typeahead="port as port for port in pfind.getPort($viewValue)"
						 			auditplace max-len="{{pfind.AppConstant.AUDIT_PLACE_MAX_LEN}}"
						 			type="text" autocomplete="off"
						 			ng-class="{'changed':prevcatgs.auditPlace}"
						 			ng-blur="pfind.setUpdateDescOnPlaceChange($parent.$index,$index)"
						 			ng-disabled="((pfind.auditStatusId!=pfind.AppConstant.REOPEN || pfind.userRoleId!=pfind.AppConstant.MANAGER_ROLE_ID) && pfind.leadSign) 
						 						|| pfind.reviewStatus || pfind.lockStatus || ((pfind.auditStatusId!=pfind.AppConstant.REOPEN || pfind.userRoleId!=pfind.AppConstant.MANAGER_ROLE_ID) && pfind.leadStatus) || (prevcatgs.updateFlag) || ($index<obseprev.findingDetail.length-1 && (obseprev.findingDetail[$index+1].statusDate || obseprev.findingDetail[$index+1].nextActionId) ) || obseprev.findingDetail[$index].nextActionId || pfind.auditComplteLaptop  || (  pfind.auditStatusId!=pfind.AppConstant.REOPEN && (pfind.userRoleId==pfind.AppConstant.MANAGER_ROLE_ID ||  pfind.userRoleId==pfind.det.AppConstant.ADMIN_ROLE_ID )) " 
                                             /> 
                      			   <label for="auditplace-{{$parent.$index}}-{{$index}}">{{pfind.auditTypePlace}} Place</label>
				
							</div>
							
                			<div style='padding-top:25px!important;' ng-if="prevcatgs.updateDescription" class="col-xs-12 col-sm-12 col-md-6 col-lg-6 findingClosed">
                        		{{prevcatgs.updateDescription}}
                       		 </div>
                       		 
                			<div ng-show="prevcatgs.statusId == pfind.AppConstant.VERIFIED_CLOSED && obseprev.showAuditChangeCheckBox" style="padding-top: 18px !important;width: 20% !important;float:right !important" class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
								<input id="complete-{{$parent.$index}}-{{$index}}" type="checkbox" ng-model="obseprev.auditStatus"
								name="completeAdt" ng-true-value=1 ng-false-value=0
								ng-init="obseprev.auditStatus=obseprev.auditStatus ? obseprev.auditStatus : 0" required 
								ng-change="pfind.changeCompleteFlagForAll($parent.$index,obseprev.auditStatus)" /> <label for="complete-{{$parent.$index}}-{{$index}}"
								class="containerhght">Complete {{obseprev.audSubTypeDesc}} {{pfind.auditType}}</label>
							</div>
                		</div>                    
                    
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 find-pad">
                                <div class="txt-sec col-xs-12 col-sm-12 col-md-4 col-lg-3 findinput-size">
                                    <select class="txt-input col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model="prevcatgs.categoryId" id="category-{{$parent.$index}}-{{$index}}" 
                                          ng-options="cat.findingsCategoryId as cat.findingsCategoryDesc for cat in pfind.obsCategoryOptions" disabled
                                          ng-class="{'changed':prevcatgs.categoryId}">
                                     </select>
                                    <label for="category-{{$parent.$index}}-{{$index}}">Category</label>
                                    
                                </div>
                                <div class="txt-sec col-xs-12 col-sm-12 col-md-4 col-lg-3 findinput-size">
                                    <select class="txt-input col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model="prevcatgs.statusId" id="status-{{$parent.$index}}-{{$index}}"
                                               ng-options="stat.findingsStatusId as stat.findingstStatusDesc  for stat in pfind.obsStatusOptions" disabled
                                               ng-class="{'changed':prevcatgs.statusId}">
                                     </select>
                                    <label for="status-{{$parent.$index}}-{{$index}}">Status</label>
                                </div>
                                <div class="txt-sec col-xs-12 col-sm-12 col-md-4 col-lg-3 findinput-size">
                                    
                                    <input class="txt-input col-xs-12 col-sm-12 col-md-12 col-lg-12 datePicker changed"  ng-model="prevcatgs.statusDate" id="statusdate-{{$parent.$index}}-{{$index}}" 
                                              datepicker  placeholder="DD-Mon-YYYY" ng-click="pfind.setPrevFindMaxDate(obseprev.findingDetail[$index-1].statusDate,obseprev.findingDetail[$index+1].statusDate,obseprev.findingDetail[$index-1])" readonly
                                              min-date="obseprev.findingDetail[$index-1].statusDate?pfind.prevFindMinStatusDate:pfind.FindingMinDate" 
						 		 			  max-date="obseprev.findingDetail[$index+1].statusDate?pfind.prevFindMaxStatusDate:pfind.FindingMaxDate"
						 		 			  ng-change="pfind.setNilNextActionForObs($parent.$index,$index)"
						 		 			  ng-disabled="((pfind.auditStatusId!=pfind.AppConstant.REOPEN || (pfind.userRoleId!=pfind.AppConstant.MANAGER_ROLE_ID && pfind.userRoleId!=pfind.AppConstant.ADMIN_ROLE_ID)) && pfind.leadSign)
						 		 			  			 || pfind.reviewStatus || pfind.lockStatus || ((pfind.auditStatusId!=pfind.AppConstant.REOPEN || (pfind.userRoleId!=pfind.AppConstant.MANAGER_ROLE_ID && pfind.userRoleId!=pfind.AppConstant.ADMIN_ROLE_ID)  ) && pfind.leadStatus) || (prevcatgs.updateFlag || ($index<obseprev.findingDetail.length-1 && obseprev.findingDetail[$index+1].statusDate)) || pfind.auditComplteLaptop || (  pfind.auditStatusId!=pfind.AppConstant.REOPEN && (pfind.userRoleId==pfind.AppConstant.MANAGER_ROLE_ID ||  pfind.userRoleId==pfind.det.AppConstant.ADMIN_ROLE_ID )) " 
                                              type="text" autocomplete="off" 
                                              />
                                     <label for="statusdate-{{$parent.$index}}-{{$index}}">Status Date </label>
                                    
                                </div>
                                <div ng-show="!(prevcatgs.categoryId) || (prevcatgs.categoryId!=1004)" class="txt-sec col-xs-12 col-sm-12 col-md-4 col-lg-3 findinput-size">
                                    <select class="txt-input col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model="prevcatgs.nextActionId" id="nextaction-{{$parent.$index}}-{{$index}}"
											  ng-change="pfind.nextActionChangePrev($parent.$index,$index,prevcatgs.oldVal);pfind.setPrevFindDueDate($parent.$index,$index,prevcatgs.categoryId,prevcatgs.nextActionId)"
                                              ng-disabled="((pfind.auditStatusId!=pfind.AppConstant.REOPEN || (pfind.userRoleId!=pfind.AppConstant.MANAGER_ROLE_ID && pfind.userRoleId!=pfind.AppConstant.ADMIN_ROLE_ID)) && pfind.leadSign) || pfind.reviewStatus || pfind.lockStatus || obseprev.findingDetail[$index+1].nextActionId || ((pfind.auditStatusId!=pfind.AppConstant.REOPEN || (pfind.userRoleId!=pfind.AppConstant.MANAGER_ROLE_ID && pfind.userRoleId!=pfind.AppConstant.ADMIN_ROLE_ID)) && pfind.leadStatus) || !prevcatgs.statusDate || (prevcatgs.updateFlag || $index<obseprev.findingDetail.length-2) || pfind.auditComplteLaptop || (  pfind.auditStatusId!=pfind.AppConstant.REOPEN && (pfind.userRoleId==pfind.AppConstant.MANAGER_ROLE_ID ||  pfind.userRoleId==pfind.det.AppConstant.ADMIN_ROLE_ID )) "
                                              ng-options="stat.findingsStatusId as stat.findingstStatusDesc disable when !((stat.findingsStatusId==pfind.CarFlowStructure[pfind.auditTypeId][(pfind.auditTypeId == pfind.AppConstant.ISPS_TYPE_ID && (obseprev.auditSubTypeId==1003 || obseprev.auditSubTypeId==1005) && obseprev.findingDetail[0].categoryId == 1002) ? 1003  : obseprev.findingDetail[0].categoryId][$index].nextActionId) || (stat.findingsStatusId == pfind.AppConstant.PREVIOUS_STATUS && ($index>0 || obseprev.findingDetail.length>1))) for stat in pfind.obsStatusOptions"
                                              ng-class="{'changed':prevcatgs.nextActionId}">
                                         </select> 
                                        <label  for="nextaction-{{$parent.$index}}-{{$index}}">Next Action</label>
                                
                                </div>
                                
                                <div ng-if="prevcatgs.categoryId==1004" class="txt-sec col-xs-12 col-sm-12 col-md-4 col-lg-3 findinput-size">
                                    <input class="txt-input col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model="prevcatgs.nextActionId2"
                                    		ng-disabled="true"
                                    		ng-class="{'changed':prevcatgs.nextActionId2}" id="nextaction-{{$parent.$index}}-{{$index}}"/> 
                                        <label  for="nextaction-{{$parent.$index}}-{{$index}}">Next Action</label>
                                </div>
                                
                                <div class="txt-sec col-xs-12 col-sm-12 col-md-4 col-lg-3 findinput-size">
                                    
                                    <input class="txt-input col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-model="prevcatgs.dueDate" 
                                    data-toggle="tooltip" data-original-title="{{prevcatgs.dueDate}}" tooltip data-placement="left"
                                    ng-disabled="pfind.leadSign || pfind.reviewStatus || ((pfind.auditStatusId!=pfind.AppConstant.REOPEN || (pfind.userRoleId!=pfind.AppConstant.MANAGER_ROLE_ID && pfind.userRoleId!=pfind.AppConstant.ADMIN_ROLE_ID)) && pfind.leadStatus) || prevcatgs.categoryId=='' || pfind.lockStatus || (prevcatgs.updateFlag || ($index<obseprev.findingDetail.length-1 && obseprev.findingDetail[$index+1].statusDate)) || pfind.auditComplteLaptop || (  pfind.auditStatusId!=pfind.AppConstant.REOPEN && (pfind.userRoleId==pfind.AppConstant.MANAGER_ROLE_ID ||  pfind.userRoleId==pfind.det.AppConstant.ADMIN_ROLE_ID )) "
                                    id="duedate-{{$parent.$index}}-{{$index}}"  type="text" autocomplete="off"  ng-class="{'changed':prevcatgs.dueDate}"
                                    datepicker   
									min-date="obseprev.findingDetail[$index].statusDate?obseprev.findingDetail[$index].statusDate:''" 
						 		 	max-date="pfind.dueMaxDate?pfind.dueMaxDate:''" 
											 
                                    />
                                    
                                     <label  for="duedate-{{$parent.$index}}-{{$index}}">Due Date</label>
                                </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 find-pad" style="padding-top:0px !Important;">
                            <div class="txt-sec col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <textarea  resizable  class="txt-input col-xs-12 col-sm-12 col-md-12 col-lg-12 descriptionresizehgt" ng-model="prevcatgs.descriptions" id="description-{{$parent.$index}}-{{$index}}"  type="text" 
                                    max-len="2500" ng-disabled="((pfind.auditStatusId!=pfind.AppConstant.REOPEN || (pfind.userRoleId!=pfind.AppConstant.MANAGER_ROLE_ID && pfind.userRoleId!=pfind.AppConstant.ADMIN_ROLE_ID)) && pfind.leadSign)
                                    			 || pfind.reviewStatus || ((pfind.auditStatusId!=pfind.AppConstant.REOPEN || (pfind.userRoleId!=pfind.AppConstant.MANAGER_ROLE_ID && pfind.userRoleId!=pfind.AppConstant.ADMIN_ROLE_ID)) && pfind.leadStatus) || prevcatgs.categoryId=='' || pfind.lockStatus || (prevcatgs.updateFlag || ($index<obseprev.findingDetail.length-1 && obseprev.findingDetail[$index+1].statusDate)) || pfind.auditComplteLaptop"
                                    autocomplete="off" auditplace  ng-class="{'changed':prevcatgs.descriptions}"> </textarea>
                                    <label for="description-{{$parent.$index}}-{{$index}}">Description</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 find-pad" >
                            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 image-upload">
                                  <label for="file-input-{{$parent.$index}}-{{$index}}"  class="buttontrash btn btn-info btnclass fndattachicon"  
                                  	ng-hide="(prevcatgs.updateFlag || ($index<obseprev.findingDetail.length-1 && obseprev.findingDetail[$index+1].statusDate)) || pfind.leadStatus || !prevcatgs.statusDate">
                                       <i class="fa fa-paperclip" aria-hidden="true" title="Attachments"></i>
                                </label>
                                <input id="file-input-{{$parent.$index}}-{{$index}}" type="file" file-upload ng-model="prevcatgs.findFileData" 
                                   ng-change="pfind.uploadFindingsAttach($parent.$index,$index)" accept="*/*" 
                                   ng-hide="(prevcatgs.updateFlag || ($index<obseprev.findingDetail.length-1 && obseprev.findingDetail[$index+1].statusDate)) || pfind.leadStatus || !prevcatgs.statusDate"/>
                            </div>
                            
                            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">	
                                 <div class="table-responsive">
                                      <table class="table table-bordered table-hover">
                                           <thead>
                                             <tr>
                                                <th class="center">File Name</th>
                                                <th class="center">Download</th>
                                                <th class="center">Action</th>
                                            </tr>
                                            </thead>
                                               <tbody>	
                                             <tr ng-repeat="files in prevcatgs.findingRptAttachs">
                                                 <td class="center" style="max-width: 100px !Important; overflow: auto;word-break: break-all;"><a auto-focus href="#" style="word-break: break-all;" ng-click="pfind.preview(files.fileName,$parent.$parent.$index,$parent.$index,$index);">{{files.fileName}}</a></td>
                                                 <td class="center">
                                                     <button class="buttontrash btn btn-info btnclass" ng-click="pfind.downloadFindingFile(files.fileName,$parent.$parent.$index,$parent.$index,$index)">
                                                         <i class="fa fa-cloud-download" aria-hidden="true"></i>
                                                     </button>
                                                </td>
                                                <td class="center">
                                                     <button class="buttontrash btn btn-info btnclass" 
                                                     	ng-click="pfind.removeFindingFiles(files.fileName,$parent.$parent.$index,$parent.$index,$index)"
                                                     	ng-disabled="(pfind.auditStatusId!=pfind.AppConstant.REOPEN && pfind.leadSign) || pfind.reviewStatus || pfind.lockStatus || (prevcatgs.updateFlag || ($parent.$index<obseprev.findingDetail.length-1 && obseprev.findingDetail[$parent.$index+1].statusDate)) || ((pfind.auditStatusId!=pfind.AppConstant.REOPEN || pfind.userRoleId!=pfind.AppConstant.MANAGER_ROLE_ID) && pfind.leadStatus) || pfind.auditStatusId==1002 || pfind.auditComplteLaptop">
                                                        <i class="fa fa-trash-o" aria-hidden="true" title="Trash"></i>
                                                     </button>
                                                </td>
                                            
                                             </tr>			
                                              </tbody>
                                     </table>
                                 </div>
                            </div>
                        </div>
                </div>
          </div>
        </div>
       
      </div> 
    </div>
        
        
        
        
    </div>
    
        </div>
        </form>

        <div   class="col-xs-12 col-sm-12 col-md-12 col-lg-12 obs footerfixed">		
            <div class="col-xs-offset-1 col-xs-4  col-sm-offset-3 col-sm-3 col-md-offset-4 col-md-2 col-lg-offset-4 col-lg-2">
                <button type="button" class="effect effect footerbutton btn btn-primaryclr font-home"  ng-click="pfind.auditHome()">{{pfind.auditType}} Home</button>
            </div>
            <div class="col-xs-offset-1 col-xs-4 col-sm-offset-1 col-sm-3 col-md-offset-0 col-md-2 col-lg-offset-0 col-lg-2">
                <button type="button" class="effect effect footerbutton btn btn-primaryclr font-save" ng-disabled="(pfind.lockStatus || pfind.auditStatusId!=1001 || pfind.leadSign) && (pfind.auditStatusId!=pfind.AppConstant.REOPEN || (pfind.userRoleId!=pfind.AppConstant.MANAGER_ROLE_ID && pfind.userRoleId!=pfind.AppConstant.ADMIN_ROLE_ID ))" ng-click="pfind.save()" >Save</button>
            </div>
            
    </div>

    </div>