.red{
	color: #ff0000;
	font-size: 17px;
}
.green{
	color:#008000;
	font-size: 17px;
}
.orange{
	color : #ff8000;
	font-size: 17px;
}
.purple{
	color : #800000;
	font-size: 17px;
}
.orangee{
	color:#ffa500;
	font-size: 17px;
}
.black{
	color:black;
	font-size: 17px;
}